#userWrap {
  background-color: #14d3ff;
  padding: 10px;
}

.user {
  color: white;
  font-weight: 600;
  /* font-family: ; */
}

#usernameInput {
  width: 150px;
  height: 30px;
  margin: 10px 0px;
  padding: 5px;
  /* font-size: 20px; */
}

#messageInput {
  width: 90%;
  height: 50px;
  margin: 10px 0px;
  padding: 5px;
  /* font-size: 20px; */
}

.inputtype {
  box-shadow: 1px 1px 10px gray;
  border-color: transparent;
}

#tweetButton {
  width: 70px;
  height: 50px;
  border-color: transparent;
  box-shadow: 1px 1px 5px gray;
}